.color1 {
    background-color: lightcoral;
}

.color2 {
    background-color: lightsalmon;
}

.color3 {
    background-color: yellow;
}

.color4 {
    background-color: lightgreen;
}

.color5 {
    background-color: forestgreen;
}
